@tailwind base;
@tailwind components;
@tailwind utilities;

input:disabled {
    background-color: white;  /* Set a custom background color */
    color: black;             /* Set custom text color */    
    opacity: .5;               /* Ensure opacity is fully visible */
    cursor: default;          /* Set cursor to default */
}

/* Optional: Customize hover effect for disabled inputs */
input:disabled:hover {
    border-color: #999;       /* Optional hover effect */
}