@tailwind base;
@tailwind components;
@tailwind utilities;

 /* Custom radio button styles */
 .styled-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    border: 2px solid #4a5568; /* default border color */
    border-radius: 50%; /* creates a circle */
    outline: none;
    transition: 0.3s;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  /* Custom radio button checked styles */
  .styled-radio:checked {
    border-color: #4299e1; /* change border color when checked */
  }

  /* Custom inner circle styles */
  .styled-radio:checked::after {
    content: '';
    display: flex;
    width: 0.7em; /* Adjust size of inner circle */
    height: 0.7em; /* Adjust size of inner circle */
    border-radius: 50%; /* creates a circle */
    background-color: #4299e1; /* color of inner circle when checked */
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
  }